@font-face {
	font-family: 'Zurich BT';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/ZURCHN.TTF') format('ttf'),
		 url('../fonts/ZURCHN.woff') format('woff');
}
@font-face {
	font-family: 'Zurich BT BOLD';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/ZURCHBI_1.TTF') format('ttf'),
		 url('../fonts/zurchbi_1-webfont.woff') format('woff'),
		 url('../fonts/zurchbi_1-webfont.woff2') format('woff2');
		 
}
@font-face {
	font-family: 'zurichcondensed';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/zurichbt-romancondensed-webfont.woff') format('woff'),
		 url('../fonts/zurichbt-romancondensed-webfont.woff2') format('woff2');
}

*{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
}
.header{
	background:url(../images/top-bar.jpg) no-repeat;
	background-size: cover;
	width:100%;
	height:90px;
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.header .title{
	color:#ffffff;
	font-family: 'Zurich BT';
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	padding-left:50px;
}
.header .brand{
	padding-right:50px;
}
.content{
  	display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.leftSide{
	 flex: 1;
	 text-align:center;
	 align-items:center;
	 justify-content:center;
	display: flex; 
}
.leftSide img{
	width:100%;
	height: 100%;
	display: block;
	object-fit:cover;
}
.rightSide{
	 text-align:center;
	 background:#f48220;
	 position: relative;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
	 display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  	
	align-items:center;
	justify-content:center;
	font-family:'zurichcondensed';
	flex-direction: column;
}
.rightSide form{
	width: 382px;
	margin: 0 auto;
}
.optionLabel{
	color:#ffffff;
	display:block;
	text-align:center;
	font-size:22px;
	margin-bottom: 25px;
}
.searchForm .form-control{
	margin-bottom:30px;
}
.searchForm label{
	color:#ffffff;
	display:block;
	text-align:left;
	font-size:24px;
	padding-left:30px;
	padding-bottom:10px;
	letter-spacing: 1px;;
}
.searchForm label.labelnote{
	padding:10px 0 0 0;
	font-size: 18px;
}
.searchForm .form-control.form-number{
	margin-bottom: 20px;
}
.searchForm .mobNumber{
	display: flex;
	justify-content: center;
	
}
.searchForm .mobNumber label{
	padding-left: 0;
	text-align: center;
}
.searchForm .mobNumber .countryCode{
	margin-right: 50px;
}
.searchForm .mobNumber .countryCode input{
	width: 38px;
	
}
.searchForm .mobNumber .mobileNumber input{
	width: 115px;
}
.searchForm input{
	background:#ffffff;
	border:5px solid #b02a30;
	border-radius:50px;
	height:70px;
	width:270px;
	font-size:24px;
	font-family:'zurichcondensed';
	padding:0 30px;
	outline:none;
}
.searchForm input[type=submit]{
	background:#b02a30;
	border:5px solid #ffffff;
	border-radius:50px;
	height:70px;
	width:200px;
	font-size:20px;
	color:#ffffff;
	padding:0;
	font-family:'zurichcondensed';
	font-weight: 400;
	letter-spacing: 1px;
}

.searchForm .otpEntry{
   text-align:center;
   background:#ffffff;
	border:5px solid #b02a30;
	border-radius:50px;
	height:70px;
	width:430px;
}
.searchForm .otpEntry input{
    border: 0;
    outline: 0;
	border-radius:0;
    background: transparent;
    border-bottom: 4px solid #9f9f9f;
    width: 35px;
    text-align:center;
    padding :0;
    margin-left:10px;
	height:auto;
	font-family:'zurichcondensed';
	color:#b02a30;
	margin-top:20px;
}
.resendOTP{
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.resendOTP label{
	padding:0;
	font-size:16px;
}
.resendOTP label.btnResentOTP{
	border-bottom:2px solid #ffffff;
	font-size:24px;
	padding-bottom:0;
}
.searchForm .otpEntry input::-webkit-input-placeholder { /* Edge */
  color:#b02a30;
}
.searchForm .nobottom{
	margin-bottom:10px;
}
.searchForm .otpEntry input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#b02a30;
}

.searchForm .otpEntry input::placeholder {
  color:#b02a30;
}

/*=======================Inner page============================*/
.wrapper{
	max-width:1300px;
	margin:0 auto;
	border:1px solid;
}
.innerHeader{
	height:95px;
	box-shadow: 0 8px 6px -6px #000;
}
.loanBrand{
	margin-left:20px;
}
.innerContent{
	
}
.banner{
	background:no-repeat;
	height:441px;
	max-width:1300px;
}
.stepA{
	background-image:url(../images/slide3-banner.jpg);
}
.stepB1{
	background-image:url(../images/slide4-banner.jpg);
}
.stepB2{
	background-image:url(../images/slide5-banner.jpg);
}
.stepC1{
	background-image:url(../images/slide6-banner.jpg);
}
.stepC2{
	background-image:url(../images/slide7-banner.jpg);
}
.stepC3{
	background-image:url(../images/slide8-banner.jpg);
}
.stepD1{
	background-image:url(../images/slide9-banner.jpg);
}
.stepD2{
	background-image:url(../images/slide5-banner.jpg);
}
.stepE1{
	background-image:url(../images/slide11-banner.jpg);
}
.stepE2{
	background-image:url(../images/slide12-banner.jpg);
}
.stepE3{
	background-image:url(../images/slide13-banner.jpg);
}
.stepE2-c{
	background-image:url(../images/slide14-banner.jpg);
}
.bannerText{
	color:#183e6c;
	font-size:60px;
	font-family:'zurichcondensed';
	padding-left:20px;
	padding-top:20px;
}
.stepsDetails{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:-97px;
}
.steps{
	width:137px;
	height:149px;
	margin-left:25px;
	background:url(../images/steps-bg.png) no-repeat;
}

.steps.completed,.steps.l2,.steps.inprocess{
	background:url(../images/steps-active-bg.png)
}

.steps:first-child{
	background-image:url(../images/steps-first-bg.png);
	margin-left:0;
}
.steps:last-child{
	background-image:url(../images/steps-last-bg.png);
}
.steps.completed:last-child,.steps.l2:last-child,.steps.inprocess:last-child{
	background-image:url(../images/steps-last-active-bg.png);
}
.stepNo{
	margin:-38px auto;
	padding:10px 0 0 0;
}
.steps:first-child .stepNo{
	padding:10px 0 0 10px;
}
.steps:last-child .stepNo{
	padding:10px 2px 0 0;
}
.stepNo span{
	background:#ffffff;
	border:4px solid #9e9d93;
	width:57px;
	height:57px;
	border-radius:50%;
	margin:0 auto;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:55px;
	font-family:'zurichcondensed';
	color:#a8a69c;
}
.steps.inprocess .stepNo span{
	color:#F38020;
	border:4px solid #F38020;
}
.steps.l2 .stepNo span{
	color:#AF2830;
	border:4px solid #AF2830;
}
.steps.completed .stepNo span{
	color:#119C49;
	border:4px solid #119C49;
}
.steps.completed{
	background-image:url(../images/steps-completed-bg.png);
}
.steps.l2{
	background-image:url(../images/steps-l2-bg.png);
}
.steps:first-child.completed{
	background-image:url(../images/steps-first-bg-completed.png);
}
.steps:last-child.l2{
	background-image:url(../images/steps-last-bg-l2.png);
}
.steps:last-child.completed{
	background-image:url(../images/steps-last-bg-completed.png);
}
.stepName{
	font-family:'zurichcondensed';
	font-size:16px;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:40px auto 0;
	height:58px;
	text-align:center;
	color:#ffffff;
}
.stepStatus{
	font-size:12px;
	color:#0a4c80;
	font-family:'zurichcondensed';
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	height:52px;
	font-weight:bold;
}
.stepStatus span{
	background:url(../images/not-started-ico.png) no-repeat;
	padding-left:18px;
	height:16px;
}
.steps.inprocess .stepStatus span{
	background-image:url(../images/in-process-ico.png);
}
.steps.l2 .stepStatus span{
	background-image:url(../images/getintouch-ico.png);
}
.steps.completed .stepStatus span{
	background-image:url(../images/completed-ico.png);
}
.loanDetails{
	text-align:center;
	font-family: 'Zurich BT';
	font-size:13px;
	color:#231f20;
	margin-top:40px;
}
.loanStatus{
	margin-top:8px;
}
.levelDetails{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:25px;
	margin-bottom:20px;
}
.level{
	background: no-repeat;
	height:58px;
	padding-left:45px;
	padding-top:5px;
	margin-right:50px;
}
.level1{
	background-image:url(../images/lvl1-ico.png);	
}
.level2{
	background-image:url(../images/lvl2-ico.png);	
}
.level3{
	background-image:url(../images/lvl3-ico.png);
	margin-right:0;	
}
.levelName{
	font-family: 'Zurich BT';
	font-weight:bold;
	font-style:italic;
	font-size:16px;
	color:#616262;
}
.exName{
	color:#808184;
	font-size:11px;
	font-family:'zurichcondensed';
}
.rs{
	max-width:6px;
}
.deskonly{
	display: block;
}
.mobonly{
	display: none;
}
.options{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	color: #ffffff;
	font-family:'Zurich BT';
	font-size: 24px;
	max-width:440px;
	position: relative;
}
.options .opt2{
	margin-left: 0px;
}
.options input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    width: 20px;
    height: 25px;
}
.options .opt{
  position: relative;
}
.opt label{
	display: block;
	position: relative;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	padding-left: 35px;
}
.opt input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 50%;
  border:2px solid #ffffff;
}

/* On mouse-over, add a grey background color */
label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
label input:checked ~ .checkmark {
  background-color: transparent;
  	
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
label .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background: white;
}


@media screen and (max-width: 1919px) {
	.header{
		height:78px;
	}
	.header .title{
		font-size:26px;
	}
	.searchForm label{
		font-size:20px;
	}
	
	.searchForm input{
		font-size:20px;
		width:312px;
		height:60px;
	}
	.searchForm input[type=submit]{
		width:177px;
		font-size:20px;
	}
	.searchForm .otpEntry{
		width:372px;
		height:60px;
	}
	.searchForm .otpEntry input{
		margin-top:15px;
		font-size:20px;
	}
	.resendOTP label.btnResentOTP{
		font-size:20px;
	}
	.innerHeader{
		height:95px;
	}
	.options{
		max-width:382px;
	}
}
@media screen and (max-width: 1440px) {
	.header{
		height:60px;
	}
	.header .title{
		font-size:20px;
	}
	.header .brand img{
		max-width:127px;
	}
	.bannerText {
		font-size: 40px;
		padding-left: 15px;
		padding-top: 15px;
		line-height: normal;
	}
	.rightSide form{
		width: 296px;
	}
	.searchForm label{
		font-size:16px;
		padding-bottom:5px;
	}
	.searchForm .mobNumber .countryCode{
		margin-right: 30px;
	}
	.searchForm .mobNumber .countryCode input{
		width:25px;
	}
	.searchForm .mobNumber .mobileNumber input{
		width:100px;
	}
	.searchForm label.labelnote{
		font-size: 16px;
	}
	.searchForm input{
		font-size:16px;
		width:226px;
		height:50px;
	}
	.searchForm input[type=submit]{
		width:177px;
		font-size:16px;
		height:60px;
	}
	.searchForm .otpEntry{
		width:285px;
		height:50px;
	}
	.searchForm .otpEntry input{
		margin-top:15px;
		font-size:16px;
		width:25px;
		border-bottom: 2px solid #9f9f9f
	}
	.innerHeader{
		height:78px;
	}
	.loanBrand img{
		max-width:215px;
	}
	.loanBrand.mobonly{
		background: url(../images/logo-bg.png) no-repeat center center;
		background-size: contain;
		width: 255px;
		height: 90px;
		margin:0 auto;
		position: relative;
		
	}
	.loanBrand.mobonly p{
		color: #B02A30;
		font-family: 'Zurich BT BOLD';
		font-style: italic;
		font-size: 26px;
		padding: 25px 0 0 0;
	}
	.loanBrand.mobonly p span.mytext{
		color: #074C7F;
		position: absolute;
		top: 20px;
		left: 80px;
		font-size: 22px;
		font-style: normal;
		font-family: 'zurichcondensed';
		font-weight: bold;
	}
	.loanBrand.mobonly p span.apptext{
		padding-left: 40px;
	}
	.banner{
		height:400px;
	}
	.options{
		max-width:296px;
		font-size: 20px;
	}
	.options input[type="radio"] {
		-ms-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
		width: 20px;
		height: 20px;
	}
}
@media screen and (max-height: 725px) {
	.banner{
		height:320px;
		background-position: center center;
	}
}
@media screen and (max-height: 640px) {
	.banner{
		height:300px;
		background-position: center center;
	}
}
@media screen and (max-width: 1280px) {
	.leftSide{
		align-items: flex-end;
	}
	.leftSide img{
		height: auto;
	}
}
@media screen and (max-width: 768px) {
	.mainContent{
		background: url(../images/page-bg.jpg) 0px 0;
		background-size: cover;
	}
	.header .brand{
		padding-right:10px;
	}
	.header .title{
		padding-left:10px;
		font-size:12px;
	}
	.notitle .title{
		display: none;
	}
	.notitle .brand{
		margin: 0 auto;
		padding-right: 0;
	}
	.content{
		display:block;
		height:auto!important;
	}
	.leftSide{
		display:block;
	}
	.rightSide{
		display:block;
		padding:50px 0;
	}
	.rightSide form{
		width: 267px;
	}
	.optionLabel{
		font-size: 16px;
	}
	.searchForm .mobNumber .countryCode{
		margin-right:10px ;
	}
	.searchForm .mobNumber .mobileNumber input{
		width: 93px;
	}
	.form-control{
		width:267px;
		margin:0 auto;
	}
	.searchForm input{
		width:197px;
	}
	.deskonly{
		display: none;
	}
	.mobonly{
		display: block;
	}
	.innerContent{
		  background:url(../images/mob-bg.jpg) bottom no-repeat;
		  background-size: 100%;
			
	}
	.bannerText{
		font-size: 24px;
		text-align: center;
		font-weight: bold;
		padding-bottom: 20px;
		padding-left: 0;
		padding-top: 0;
	}
	.loanBrand{
		text-align: center;
		padding-top:10px;
		margin: 0;
	}
	.banner{
		height: 250px;
		width: 100%;
		background-size: cover;
	}
	.stepsDetails{
		flex-wrap: wrap;
		margin-top: 20px;
	}
	.steps{
		height: 96px;
		width: 88px;
		background-size: contain!important;
		margin-bottom: 20px;
	}
	.stepNo{
		padding:26px 0 0 1px;
	}
	.stepNo span{
		width: 48px;
		height: 48px;
		font-size: 25px;
	}
	.steps:first-child .stepNo{
		padding:26px 0 0 7px;
	}
	.stepNo span {
		width: 27px;
		height: 27px;
		font-size: 18px;
	}
	.stepName{
		font-size: 10px;
		line-height: 12px;
		margin: 44px auto 0;
		height: 34px;
	}
	.stepStatus{
		font-size: 9px;
		height:30px;
	}
	.stepStatus span{
		height: 7px;
		background-size: contain;
		padding-left: 8px;
		line-height: 7px;
	}
	.steps:last-child .stepName{
		padding: 0 5px;
	}
	.steps:last-child .stepNo {
		padding: 26px 2px 0 1px;
	}
	.loanDetails{
		font-size: 12px;
		padding: 0 10px;
	}
	.levelDetails{
		width: 320px;
		margin: 15px auto 0;
		padding-bottom: 30px;
	}
	.level{
		background-size: 25px;
		padding-left: 30px;
		margin-right: 30px;
		
	}
	.level:last-child{
		margin-right: 0;
	}
	.levelName{
		font-size: 10px;
	}
	.exName{
		font-size: 10px;
	}
	.options{
		max-width:267px;
		font-size: 18px;
		margin: 0 auto 30px;
	}
	.options input[type="radio"] {
		-ms-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
		width: 18px;
		height:15px;
	}
	
}
@media screen and (max-width:579px) {
	.banner{
		height: 148px;
		background-size:100% 100%;
	}
	.stepsDetails {
		width: 280px;
		margin: 40px auto 0;
	}
	.steps:nth-child(3){
		margin-left: 0;
	}
	.loanDetails{
		margin-top:10px;
	}
}